
build
.flutter-plugins
.flutter-plugins-dependencies
analysis_options.yaml
pubspec.lock
scripts/build
scripts/libs
scripts/bat/build
scripts/sh/products
.idea
.dart_tool
#libmacos/Runner/Resources/*.pkg
Release
*.log
logs/


